<h1>Cocktails List</h1>
<% @cocktails.each do |x| %>
<div class="card-trip">
<%= cl_image_tag @cocktail.photo.key, width: 400, height: 300, crop: :fill %>  <div class="card-trip-infos">
    <div>
      <h2><%= x.name %></h2>
      <p><%= link_to "show", cocktail_path(x) %></p>
    </div>
  </div>
</div>
<% end %>
<p class="btn btn-primary unlink"><%= link_to "New", new_cocktail_path %></p>
